body {
    margin: 0;

    .container {
        .debug {
            display: none;
            // content: url("image/sample-lobby.png");
            // content: url("image/sample-game.png");
            // content: url("image/sample-discussion.png");
        }

        .map-image {
            position: absolute;
            left: 0;
            bottom: 0;
            // border: #f70841 1px solid;

            img {
                max-width: 440px;
                height: auto;
                filter: opacity(70%);
            }
        }

        .roomcode-curtain {
            // border: #f70841 1px solid;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                // border: #f70841 1px solid;
                position: absolute;
                bottom: 70px;
                left: 0;
                right: 0;

                margin-left: auto;
                margin-right: auto;
            }
        }

        .entercode-curtain {
            // border: #f70841 1px solid;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                // border: #f70841 1px solid;
                position: absolute;
                bottom: 40px;
                left: 0;
                right: 0;

                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
